################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*/bin
/*/obj
/*/.vs
/.vs
/LucidCode.Test/LucidCode.Test.csproj.user
